block content
  h1= title

  - let items = results; 

  - let o;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
    } 
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/hotel/update?id=${item._id}\")` 
        - let destination1 = `dispatch(\"/hotel/create\")` 
        - let destination2 = `dispatch(\"/hotel/delete?id=${item._id}\")` 
        - let destination3 = `dispatch(\"/hotel/detail?id=${item._id}\")` 
        div(class="row-sm-2" class="m-1") Hotel_name #{item.Hotel_name}(#{item.Location}) is #{item.price} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-primary ml-1", onclick= destination1) create 
          button.btn( class="btn-primary ml-1", onclick= destination2) delete 
          button.btn( class="btn-primary ml-1", onclick= destination3) detail 
script. 
  function dispatch(path){ 
    window.location.href=path 
  }